@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

.navbar {
  /* box-shadow: 17px 0px 6px lightgrey;
  z-index: 9;
  background: white; */
}

.navLink {
  color: black !important;
  font-family: "Oswald";
  letter-spacing: 2px;
}

.brandName {
  font-family: "Oswald";
}
